/*
Colors used:
Primary Color (Dark Teal): #007d6c
Secondary Color (Light Green): #79bb9d
Supporting Color (light gray white): #cad2d5
Accent Color (Yellow): #f4cd5c
*/
body {
  background-color: ghostwhite;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: black;
}

h1,
h2,
h3,
h4 { line-height: 1.4; }

h1 {
  font-size: 2.75em; /* Sets the h1 font size to 2.75 x the body font size */
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 600;
}

h3 {
  font-size: 1.75em;
  font-weight: 450;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

/* TEXT LINK STYLING */
a {
  color: black;
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
  color: navy;
}

a:hover,
a:focus {
  color: #007d6c;
  text-decoration: none; /* No underlining */
}

a:active { /* selected link */
  color: #79bb9d;
}

/* BUTTON STYLING */
.button {
  display: inline-block;
  background-color: #007d6c;
  color: #fff;
  font-weight: 400;
  padding: 10px;
  border-radius: 6px;
  transition: 0.2s opacity;
}

.button:hover {
  color: #fff;
  font-weight: 400;
  padding: 10px;
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  background-color: #79bb9d;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #007d6c;
  text-transform: uppercase;
  border: 2px solid #007d6c;
  border-radius: 6px;
}

.button.contact:hover {
  color: #79bb9d;
  border: 2px solid #79bb9d;
}

.button.contact:active {
  color: navy;
}
