/*
Colors used:
Primary Color (Dark Teal): #106d57
Secondary Color (Light Green): #879f8d
Tan background: #f9f8f6
Accent Color (Yellow): #f4cd5c
Off-white background: #faf9f6
*/
* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: black;
}

h1,
h2,
h3,
h4 { line-height: 1.4; }

h1 {
  font-size: 2.1em; /* Sets the h1 font size to 2.2 x the body font size */
  font-weight: 550;
}

h2 {
  font-size: 1.7em;
  font-weight: 510;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

/* TEXT LINK STYLING */
a {
  color: black;
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
  color: #879f8d;
}

a:hover,
a:focus {
  color: #106d57;
  text-decoration: none; /* No underlining */
}

a:active { /* selected link */
  color: #879f8d;
}

/* BUTTON STYLING */
.button {
  display: inline-block;
  background-color: #106d57;
  color: #fff;
  font-weight: 400;
  padding: 10px;
  border-radius: 6px;
  transition: 0.2s opacity;
}

.button:hover {
  color: #fff;
  font-weight: 400;
  padding: 10px;
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  background-color: #879f8d;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #106d57;
  text-transform: uppercase;
  border: 2px solid #106d57;
  border-radius: 6px;
}

.button.contact:hover {
  color: #879f8d;
  border: 2px solid #879f8d;
}

.button.contact:active {
  color: #f4cd5c;
}

header {
  background-color: #f9f8f6;
  padding: 10px 0;
  border-bottom: 2px solid #106d57;
  text-align: center;

  /* start code for box shadow */
  border: solid #bdbdbd 0;
  box-shadow: 0 5px 23px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 23px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 23px rgba(0, 0, 0, 0.1);
  position: relative;
}

footer {
  text-align: center;
  margin-top: 50px;
}

footer svg {
  height: 35px;
  width: 35px;
  margin-right: 10px;
  margin-top: 20px;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

.logo {
  max-width: 250px;
}

/* NAVIGATION styling */
nav {
  display: inline-block;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: lowercase;
  font-weight: 350;
  color: black;
}

nav > ul > li > a:visited {
  color: black;
}

nav > ul > li > a:hover {
  color: #106d57;
}

nav > ul > li > a:active {
  text-decoration: underline;
  color: #879f8d;
}

#hero {
  background-color: #f9f8f6;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#hero span {
  display: block;
}

.center {
  text-align: center;
}

#work h2 {
  text-align: center;
  margin: 50px 0;
}

#about-page h1,
h2 {
  text-align: center;
}

#popcornlist-page h1,
h4 {
  text-align: center;
}

/* -------- MEDIA QUERIES FOR RESPONSIVE SCREENS -------- */

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav ul {
    margin-bottom: 0;
  }

  main { /* to remove white gap between nav and header section */
    padding-top: 1px;
  }

  body {
    font-size: 18px;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 10px 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #work h3 {
    margin-top: 0;
  }

  #about-page h3 {
    margin-top: 0;
  }

  #about-page .row {
    margin-top: 30px;
  }
}

/* ==============================
Large devices (1024px and larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
    padding-left: 7%;
    text-align: left;
  }

  .col-lg-12 {
    width: 100%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-lg-7 h2 {
    text-align: left;
  }

  .col-lg-5 h2 {
    text-align: left;
  }

  #about-page h2 {
    margin-top: 0;
  }
}

/* ==============================
Xlarge devices (1440px and larger)
================================= */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ANIMATION */
.about-picture {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
