/*
Colors used:
Primary Color (Dark Teal): #007d6c
Secondary Color (Light Green): #79bb9d
Supporting Color (light gray white): #cad2d5
Accent Color (Yellow): #f4cd5c
Off-white background: #faf9f6
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #faf9f6;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: black;
}

h1,
h2,
h3,
h4 { line-height: 1.4; }

h1 {
  font-size: 2.75em; /* Sets the h1 font size to 2.75 x the body font size */
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 600;
}

h3 {
  font-size: 1.75em;
  font-weight: 450;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

/* TEXT LINK STYLING */
a {
  color: black;
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
  color: navy;
}

a:hover,
a:focus {
  color: #007d6c;
  text-decoration: none; /* No underlining */
}

a:active { /* selected link */
  color: #79bb9d;
}

/* BUTTON STYLING */
.button {
  display: inline-block;
  background-color: #007d6c;
  color: #fff;
  font-weight: 400;
  padding: 10px;
  border-radius: 6px;
  transition: 0.2s opacity;
}

.button:hover {
  color: #fff;
  font-weight: 400;
  padding: 10px;
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  background-color: #79bb9d;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #007d6c;
  text-transform: uppercase;
  border: 2px solid #007d6c;
  border-radius: 6px;
}

.button.contact:hover {
  color: #79bb9d;
  border: 2px solid #79bb9d;
}

.button.contact:active {
  color: navy;
}

header {
  background-color: #cad2d5;
  padding: 10px 0;
  border-bottom: 2px solid #007d6c;
  text-align: center;

  /* start code for box shadow */
  width: [object Object]px;
  height: [object Object]px;
  border: solid #bdbdbd 0;
  box-shadow: 0 5px 23px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 23px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 23px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

.logo {
  max-width: 250px;
}

/* NAVIGATION styling */
nav {
  display: inline-block;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: black;
}

nav > ul > li > a:visited {
  color: black;
}

nav > ul > li > a:hover {
  color: #007d6c;
}

nav > ul > li > a:active {
  text-decoration: underline;
  color: #79bb9d;
}

#hero {
  background-color: #cad2d5;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#work h2 {
  text-align: center;
}
